img{
    width: 100%;   
    position: fixed;
    border: none;
    margin: 0px;
}
body{
   background-color: black;
}

.container {
  position: relative;
  display: inline-block;
}

.botao {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  border-radius: 100px;
  margin-top: 50px;
  margin-left: 5px;
  animation: moveUpDown 1s infinite alternate; /* Aplica a animação */
  text-align: center;
  background-color: white;
  font-weight: bold;
  
}

@keyframes moveUpDown {
  from {
    top: 100%;
  }
  to {
    top: calc(100% - 10px); /* Move o botão 10px para cima */
  }
}

.botao1 {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  border-radius: 100px;
  margin-top: 100px;
  margin-left: 5px;
  animation: moveUpDown 1s infinite alternate; /* Aplica a animação */
  text-align: center;
  background-color: white;
  font-weight: bold;
}

@keyframes moveUpDown {
  from {
    top: 100%;
  }
  to {
    top: calc(100% - 10px); /* Move o botão 10px para cima */
  }
}

.botao2 {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  border-radius: 100px;
  margin-top: 150px;
  margin-left: 5px;
  animation: moveUpDown 1s infinite alternate; /* Aplica a animação */
  text-align: center;
  background-color: white;
  font-weight: bold;

}

@keyframes moveUpDown {
  from {
    top: 100%;
  }
  to {
    top: calc(100% - 10px); /* Move o botão 10px para cima */
  }
}

.botao3 {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  border-radius: 100px;
  margin-top: 200px;
  margin-left: 5px;
  animation: moveUpDown 1s infinite alternate; /* Aplica a animação */
  text-align: center;
  background-color: white;
  font-weight: bold;
}

@keyframes moveUpDown {
  from {
    top: 100%;
  }
  to {
    top: calc(100% - 10px); /* Move o botão 10px para cima */
  }
}


.botao4 {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  border-radius: 100px;
  margin-top: 250px;
  margin-left: 5px;
  animation: moveUpDown 1s infinite alternate; /* Aplica a animação */
  text-align: center;
  background-color: white;
  font-weight: bold;
}

@keyframes moveUpDown {
  from {
    top: 100%;
  }
  to {
    top: calc(100% - 10px); /* Move o botão 10px para cima */
  }
}

.botao5 {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  border-radius: 100px;
  margin-top: 300px;
  margin-left: 5px;
  animation: moveUpDown 1s infinite alternate; /* Aplica a animação */
  text-align: center;
  background-color: white;
  font-weight: bold;
}

@keyframes moveUpDown {
  from {
    top: 100%;
  }
  to {
    top: calc(100% - 10px); /* Move o botão 10px para cima */
  }
}

.texto {
  position: absolute;
  margin-top: 40px;
  right: 100px;
  width: 400px;
  height: 240px;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
  margin-left: 600%;
  left: 970px;
  color: black;
  border-radius: 50px;
  border: 1px solid black;
}



.social-icons {
  position: absolute;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 670px;
  margin-left: 740px;
  width: 230px;
  top: 500%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  
}

.social-icon {
  color: #FFFFFF;
  font-size: 24px;
  margin-right: 10px; /* Adiciona um espaço entre os ícones */
  display: inline-block; /* Coloca os ícones em linha */
  padding: 20px;

}
 








