body {
    font-family: Arial, sans-serif;
    line-height: 1.26;
    margin: 0;
    padding: 0;
    background-color: gray ;
    
  }
    /* Adicionando regras de mídia para tornar o container responsivo */
@media (min-width: 768px) {
  .container {
      max-width: 720px; /* Por exemplo, ajuste o valor conforme necessário para a largura máxima desejada */
  }
  }
  
  @media (min-width: 992px) {
  .container {
      max-width: 960px; /* Por exemplo, ajuste o valor conforme necessário para a largura máxima desejada */
  }
  }
  
  @media (min-width: 1200px) {
  .container {
      max-width: 1140px; /* Por exemplo, ajuste o valor conforme necessário para a largura máxima desejada */
  }
}
  
.container {
    
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    height: 100%;
    margin-top: 10px;
    width: 80%;
    
  }


  .botao11 {
    position: fixed;
    margin-left: 92%;
    width: 100px;
    text-decoration: none;
    color: rgb(250, 55, 55);
    text-align: center;
    margin-top: 0px;
    border-radius: 10px;
    border: 1px solid black;
 
   }
 
   .botao11:hover{
     color: rgb(255, 0, 0);
   }


   table {
    border-collapse: collapse;
    width: 100%;
    border:  1px solid black; /* Linha horizontal */
  }

td.tec{
    text-align: center;
}

tr,td{
    border: 1px solid black;

}

td.tec1{
    text-align: center;
  background-color: red;
  
}

td.tec2{
    text-align: center;
  background-color: yellow;
  
}


td.tec3{
    text-align: center;
  background-color:#228B22;
  
}